p, a.btn, li, button.btn, td, th, .form-control {
    font-size: 0.875em;
}

.sms-td-center {
    vertical-align: middle
}

.border-top-start-1 {
    border-top-left-radius: 0.25rem;
}
.border-top-end-1 {
    border-top-right-radius: 0.25rem;
}

.sms-sidebar {
    width: 296px;
    height: 100%;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.circle {
	display: inline-block;
	background-color: #20c997;
	border-radius: 50%;
}
  
.circle-inner {
	color: white;
	display: table-cell;
	vertical-align: middle; 
	text-align: center;
	text-decoration: none;
	height: 42px;
	width: 42px;  
	font-size: 18px;
}
  
.circle-inner-lg {
	color: white;
	display: table-cell;
	vertical-align: middle; 
	text-align: center;
	text-decoration: none;
	height: 72px;
	width: 72px;  
	font-size: 36px;
}

.sms-search {
    width: 512px;
}